<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>Hi team,</p>
    <p>We have recieved request from new customer. Please check below details.</p>
    <table>
        <tr>
            <td style="border: 1px solid #000000; padding: 5px;"><strong>Studio Name</strong></td>
            <td style="border: 1px solid #000000; padding: 5px;">{{studio_name}}</td>
        </tr>
        <tr>
            <td style="border: 1px solid #000000; padding: 5px;"><strong>Email</strong></td>
            <td style="border: 1px solid #000000; padding: 5px;">{{email}}</td>
        </tr>
        <tr>
            <td style="border: 1px solid #000000; padding: 5px;"><strong>Contact Number</strong></td>
            <td style="border: 1px solid #000000; padding: 5px;">{{contact_number}}</td>
        </tr>
        <tr>
            <td style="border: 1px solid #000000; padding: 5px;"><strong>Couple Name</strong></td>
            <td style="border: 1px solid #000000; padding: 5px;">{{couple_name}}</td>
        </tr>
        <tr>
            <td style="border: 1px solid #000000; padding: 5px;"><strong>Wedding Date</strong></td>
            <td style="border: 1px solid #000000; padding: 5px;">{{wedding_date}}</td>
        </tr>
        <tr>
            <td style="border: 1px solid #000000; padding: 5px;"><strong>Source Link</strong></td>
            <td style="border: 1px solid #000000; padding: 5px;">{{source_link}}</td>
        </tr>
        <tr>
            <td style="border: 1px solid #000000; padding: 5px;"><strong>File Size</strong></td>
            <td style="border: 1px solid #000000; padding: 5px;">{{file_size}}</td>
        </tr>
        <tr>
            <td style="border: 1px solid #000000; padding: 5px;"><strong>Highlight</strong></td>
            <td style="border: 1px solid #000000; padding: 5px;">{{highlight}}</td>
        </tr>
        <tr>
            <td style="border: 1px solid #000000; padding: 5px;"><strong>Order Date</strong></td>
            <td style="border: 1px solid #000000; padding: 5px;">{{order_date}}</td>
        </tr>
        <tr>
            <td style="border: 1px solid #000000; padding: 5px;"><strong>Musice Option</strong></td>
            <td style="border: 1px solid #000000; padding: 5px;">{{music_option}}</td>
        </tr>
    </table>

    <p style="margin-bottom: 0;"><strong>Best regards</strong></p>
    <p style="margin-top: 0;">Editorise</p>
</body>
</html>